@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

:root{
    --bg-default:#466f6d;
    --bg-secondary: #6ca49c;
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-default{
    background: var(--bg-default);
    background-image: url('../img/batik.png');
    background-repeat: repeat;
    background-size: 207px;
}
.card-login{
    width: 500px;
}
.container-login{
    width: 100%;
    height: 100vh;
}
.text-header{
    font-weight: 600;
}
.btn-secondary1{
    background: var(--bg-secondary);
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-secondary1:hover{
    background-color: var(--bg-default);
    color: #fff;
}